body {
  background-color: white;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}
/*
section:nth-child(even) {
  background-color: #ddd;
}
*/

section:nth-child(1) {
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*text-align: center;*/
}
section:nth-child(2) {
  margin: 0 auto;
  background-color: #fffcfc;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section:nth-child(3) {
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-color: #ddd8c4;*/
  background-color: #eee7ce;
}
section:nth-child(4) {
  margin: 0 auto;
  background-color: #fffcfc;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section:nth-child(5) {
  margin: 0 auto;

  background-color: #fffcfc;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section:nth-child(6) {
  margin: 0 auto;

  /*background-color: #362415;*/
  background-color: #fffcfc;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
  margin: 0 auto;
  max-width: 650px;
}
