footer {
  /*display: flex;*/
  background-color: #bbb;
  padding: 15px;
  /*position: fixed;*/
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.89em;
  color: rgba(0, 0, 0, 0.4);
}
.footer-brand-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex: 1;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}

.copyright-text {
  /*display: flex;

  flex: 1;*/
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}
.social {
  font-size: 1.3em;
}
